
## <summary>policy for adon</summary>


########################################
## <summary>
##	Transition to adon.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`adon_domtrans',`
	gen_require(`
		type adon_t, adon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, adon_exec_t, adon_t)
')


########################################
## <summary>
##	Execute adon server in the adon domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`adon_initrc_domtrans',`
	gen_require(`
		type adon_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, adon_initrc_exec_t)
')


########################################
## <summary>
##	Search adon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`adon_search_lib',`
	gen_require(`
		type adon_var_lib_t;
	')

	allow $1 adon_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read adon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`adon_read_lib_files',`
	gen_require(`
		type adon_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, adon_var_lib_t, adon_var_lib_t)
')

########################################
## <summary>
##	Manage adon lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`adon_manage_lib_files',`
	gen_require(`
		type adon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, adon_var_lib_t, adon_var_lib_t)
')

########################################
## <summary>
##	Manage adon lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`adon_manage_lib_dirs',`
	gen_require(`
		type adon_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, adon_var_lib_t, adon_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a adon environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`adon_admin',`
	gen_require(`
		type adon_t;
		type adon_initrc_exec_t;
		type adon_var_lib_t;
	')

	allow $1 adon_t:process { ptrace signal_perms };
	ps_process_pattern($1, adon_t)

	adon_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 adon_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, adon_var_lib_t)

')

